#area {
    position: relative;
    background: rgb(230, 230, 230, .5);
    height: 400px;
    width: 600px;
    border: black solid 1px;

    overflow: hidden;
    z-index: 0;
}

#player {
    position: absolute;
    background-image: url('../img/player.jpg');

    z-index: 1;
}

.block {
    position: absolute;
    background: darkgreen;

    z-index: 2;
}

#percentage {
    position: absolute;
    top: 5%;
    left: 85%;

    height: 5%;
    width: 10%;

    background: lightblue;

    font-weight: bold;
    text-align: center;
    vertical-align: center;

    z-index: 3;
}

#overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(100, 100, 100, .95);;

    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 4;
}

#overlay-title {
    margin: 10% 0 0;
    font-size: 4.5em;
}

#overlay-score {
    font-size: 1.5em;
}

#overlay-score p {
    margin: 0;
}

#overlay-buttons {
    margin-top: 10%;
}

#overlay-buttons button {
    width: 30%;

    font-family: inherit;
    font-size: 1.5em;
}

#header-level {
    margin-bottom: 1.5vh;
    height: 3vh;
    width: 20%;
    border: black solid 1px;
    background: deeppink;
    font-weight: bold;

    text-align: center;
    vertical-align: center;

    align-self: end;
}

#lives {
    position: absolute;
    top: 90%;
    left: 4%;

    height: 5%;
    width: 5%;

    font-size: 1.5em;
    font-weight: bold;
    color: deeppink;

    z-index: 5;
}

#speed {
    position: absolute;
    top: 90%;
    left: 87.5%;

    height: 5%;
    width: 10%;

    font-size: 1.5em;
    font-weight: bold;
    color: black;

    z-index: 5;
}

.level {
    color: deeppink;
    font-weight: bold;
}